<ul class="posts">
  <% @posts.each do |post| %>
    <li>
      <div class="left">
        <%= post.text %>
      </div>
      <div class="right">
        <% if logged_in? %>
        | <%= User.find(post.user_id).name %>
        <% end %>
      </div>
    </li>

  <% end %>
</ul>
